.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #fff; 
  padding: 0;
  margin: 0;
  grid-area: profile-name;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__name {
    font-size: 22px;
    line-height: 56px;
  }
}