.header__logo {
  display: block;
  background-image: url(../../../images/header-logo.svg);
  width: 173px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    height: 24px;
    background-size: contain;
    margin: 0 0 0 27px;
  }
}