.elements__like-button {
  background: url('../../../images/like-icon.svg') center no-repeat;
  border: none;
  cursor: pointer;
  min-width: 21px;
  min-height: 19px;
  margin: 0;
  padding: 0;
}

.elements__like-button:hover {
  opacity: .6;
}